{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create a Page
{% endblock %}

{% block body %}
    <h1>Create a New Page</h1>

    <br>

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <form action = "{% url 'encyclopedia:create' %}" method="post" class="title">

        <h6>Title:</h6>
        <input type="text" class="title" name="title">

        <br><br>

        <h6>Content:</h6>
        <textarea class="content" name="content" rows="12" cols="50"></textarea>

        <br><br>

        <input type="submit">
        {% csrf_token %}
    </form>

{% endblock %}